.drls_categ {
  display: flex;
  justify-content: space-between;
  padding: 0.25em 1em 0 0;
}

.drls_categ_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
}
.drls_categ_panel_header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25em;
}
.drls_categ_panel_header_stats {
  font-size: 0.6em;
}
.drls_categ_panel_content {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
.drls_categ_panel_content_sublinks {
  background-image: url("https://i.ibb.co/qDNZz1z/forumline-texture.jpg");
  border-top-right-radius: 5px;
  margin-top: auto;
  max-width: 684px;
  opacity: 0.8;
  padding: 0.25em 8px;
  width: max-content;
}
.drls_categ_panel_content_sublinks:empty {
  padding: unset;
}
.zone-banner + .drls_categ_panel_content_sublinks {
  bottom: 0;
  left: 0;
  position: absolute;
}

.drls_categ_last_activity {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0.5em;
  text-align: center;
  width: 15%;
}
.drls_categ_last_activity_desc {
  font-size: 0.6em;
}
.drls_categ_last_activity_image img {
  border-radius: 5px;
  height: 72px;
  width: 45px;
}
/* ----- Titre du RP du dernier post ----- */
.drls_categ_last_activity_desc > span > a:first-of-type {
  font-size: 1.25em;
}
