/* * * * * OLD * * * * */
.navig {
  background:#1A1209;
  font:philosopher;
  left:0px;
  right:0px;
  top:0px;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 10px 0 6px 0;
  opacity: 0.8;
  filter: alpha(opacity=100);
  box-shadow :0px 0px 3px #000;
}

/* * * * * NEW * * * * */
.navbar_expanding {
  display: table;
}
.navbar_container_block {
  display: table-cell;
}
.navbar_container_block + .navbar_container_block {
  padding-left: 15px;
}
.navbar_block {
  display: table;
}
.mainmenu {
  cursor: pointer;
  display: table-row;
}
.submenu {
  background-color: #1A1209;
  bottom: unset;
  display: none;
  left: unset;
  padding: 5px 10px;
  position: fixed;
  right: unset;
  text-align: left;
  top: unset;
}

.mainmenu-link,
.mainmenu-item {
  color: #f7e9c9;
  font-size: 18px;
  font-weight: 700;
  text-shadow :0px 0px 3px #000;
}
.mainmenu-link:focus,
.mainmenu-link:hover,
.mainmenu-item:focus,
.mainmenu-item:hover {
  font-size: 18px;
  font-weight: 700;
}
.mainmenu-link:focus,
.mainmenu-link:hover,
#notification_list .unread {
  color: #FFF;
  text-shadow: 0px 0px 3px #FFF;
}
#notification_list .unread:focus,
#notification_list .unread:hover {
  color: inherit;
  text-shadow: none;  
}
#notification_list .content {
  align-content: space-between;
  align-items: center;
  display: flex;
}

.navbar_expanding a.mainmenu-link.nouveau_message {
  color: #F00;
}
.no-link {
  cursor: not-allowed;
}

.submenu > a,
.submenu > span {
  display: block;
}
.submenu-link + .submenu-linkn {
  margin-top: 5px;
}
.submenu-separation {
  border-bottom: 2px solid #f7e9c9;
  margin: 10px 0;
  width: 100%;
}
