.navig {
  background-image: url("https://i.ibb.co/Rp7B0Xy/navbar-texture.jpg");
  box-shadow: inset 0 -4px 5px -4px #422a12;
  font-family: 'IM Fell English SC', serif;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 10px 0 6px 0;
  opacity: 0.95;
}

.navbar_expanding {
  display: table;
}
.navbar_container_block {
  display: table-cell;
}
.navbar_container_block + .navbar_container_block {
  padding-left: 25px;
}
.navbar_block {
  display: table;
}
.mainmenu {
  cursor: pointer;
  display: table-row;
}
.submenu {
  background-color: #1A1209;
  bottom: unset;
  display: none;
  left: unset;
  padding: 5px 10px;
  position: fixed;
  right: unset;
  text-align: center;
  top: unset;
}

.mainmenu-link,
.mainmenu-item {
  color: #f7e9c9;
  font-size: 20px;
  text-shadow :0 0 3px #000;
}
.mainmenu-link:focus,
.mainmenu-link:hover,
.notification.unread {
  color: #FFF;
  text-shadow: 0 0 3px #FFF;
}
.notification.unread:focus,
.notification.unread:hover {
  color: inherit;
  text-shadow: none;
}
#notification_list .content {
  align-content: space-between;
  align-items: center;
  display: flex;
}
#notification_list .deleter {
  height: 1em;
}
#hasNotification {
  height: 2em;
  margin-left: 1em;
  vertical-align: text-bottom;
}

.navbar_expanding a.mainmenu-link.nouveau_message {
  color: #F00;
}
.no-link {
  cursor: not-allowed;
}

.submenu > a,
.submenu > span {
  display: block;
}
.submenu-link + .submenu-link {
  margin-top: 5px;
}
.submenu-separation {
  border-bottom: 1px solid #f7e9c9a0;
  margin: 10px auto;
  width: 80%;
}